<div class="new-container">
    <h1 class="title m-3 p-4">New Container</h1>

    <%= render 'form', container: @container %>
    <div id="float-form-item ">
        <div class="float_form_area">
        <%= render 'items/form', item: @item %>
        </div>
    </div>
</div>